<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Course Categories</title>
    <%- include('../partials/main') %>
  </head>
  <% if(typeof user === 'undefined') user = {} %> <% if(typeof course ===
  'undefined') course = {} %>
  <body>
    <div class="app container bg-white border-top border-4 border-success">
      <%- include('../partials/header') %>

      <div class="d-flex mx-4 mt-3 mb-5 flex-column">
        <!-- For admin and teacher to activate edit mode-->
        <% if(user.role !== "student" ) { %>
        <div class="d-flex justify-content-between align-items-center flex-row">
          <a
            href="/course/<%= course.slug %>/leave"
            class="btn btn-danger text-decoration-none text-light"
            >Leave this course</a
          >
          <div class="form-check form-switch">
            <label class="form-check-label" for="editMode">Edit mode</label>
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="editMode"
              onchange="handleEditModeChange(this)"
            />
          </div>
        </div>
        <%} %>
        <h4><%= course.name[0] %></h4>
        <!-- Edit mode -->
        <% if(edit) { %> <% course_detail.topics.map((t, index) => { %>
        <div
          class="d-flex flex-column bg-success border border-secondary"
          style="--bs-bg-opacity: 0.15"
        >
          <div
            class="d-flex flex-row justify-content-between align-items-center"
          >
            <button
              class="btn mt-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#topic<%= index %>"
              aria-expanded="false"
              aria-controls="topic<%= index %>"
            >
              <div class="d-flex flex-row align-items-center">
                <i class="fa-solid fa-caret-down"></i>
                <h4 class="text-start ms-2"><%= t.t_title %></h4>
              </div>
            </button>
            <div class="d-flex justify-content-end me-4">
              <form
                action="/course/<%= slug %>/update-topic/<%= t._id %>?_method=PUT"
                method="post"
              >
                <input
                  type="text"
                  name="t_title"
                  id="t_title"
                  placeholder="Enter new topic's title"
                />
                <button class="btn btn-success me-3" type="submit">
                  Update
                </button>
              </form>
              <form
                method="post"
                action="/course/<%= slug %>/delete-topic/<%= index %>?_method=DELETE"
              >
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
          <div class="border-bottom"></div>
          <div class="collapse" id="topic<%= index %>">
            <% t.files.map((f, fileIndex) => { %>
            <div
              class="d-flex flex-row justify-content-between align-items-center border-0 border-bottom py-2 mx-4"
            >
              <a
                class="text-decoration-none text-dark"
                href="/course/<%= course.slug %>/view/<%= index %>/<%= fileIndex %>"
                ><h5><%= f.f_title %></h5>
                <p
                  class="d-inline-block text-truncate mb-0"
                  style="max-width: 500px"
                >
                  <%= f.f_description %>
                </p></a
              >
              <div class="d-flex justify-content-end">
                <button
                  class="btn btn-success me-3"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#file<%=fileIndex %>"
                  aria-expanded="false"
                  aria-controls="file<%=fileIndex %>"
                >
                  Update
                </button>
                <form
                  action="/course/<%= slug %>/topic/<%= index %>/delete-file/<%= fileIndex %>?_method=DELETE"
                  method="post"
                >
                  <button class="btn btn-danger" type="submit">Delete</button>
                </form>
              </div>
            </div>
            <!-- Update file here -->
            <div class="collapse" id="file<%=fileIndex %>">
              <form
                class="p-4"
                action="/course/<%= slug %>/topic/<%= index %>/update-file/<%= fileIndex %>"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="text"
                      id="topic"
                      name="topic"
                      value="<%= t.t_title %>"
                      hidden
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="title" class="col-sm-2 col-form-label"
                    >Title</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="text"
                      id="title"
                      name="title"
                      value="<%= f.f_title %>"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="description" class="col-sm-2 col-form-label"
                    >Description</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="text"
                      id="description"
                      name="description"
                      value="<%= f.f_description %>"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="topicFile" class="col-sm-2 col-form-label"
                    >File</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="file"
                      id="topicFile"
                      name="topicFile"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-9 offset-sm-2">
                    <input
                      class="btn btn-success"
                      type="submit"
                      value="Update file"
                    />
                    <button
                      class="btn btn-secondary"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#file<%=fileIndex %>"
                      aria-expanded="true"
                      aria-controls="file<%=fileIndex %>"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <% }) %>
            <!-- Add new file here -->
            <div class="p-4">
              <form
                method="post"
                action="/course/<%= slug %>/file"
                enctype="multipart/form-data"
              >
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="text"
                      id="topic"
                      name="topic"
                      value="<%= t.t_title %>"
                      hidden
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="title" class="col-sm-2 col-form-label"
                    >Title</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="text"
                      id="title"
                      name="title"
                      placeholder="Title"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="description" class="col-sm-2 col-form-label"
                    >Description</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="text"
                      id="description"
                      name="description"
                      placeholder="Description"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="topicFile" class="col-sm-2 col-form-label"
                    >File</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="file"
                      id="topicFile"
                      name="topicFile"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-9 offset-sm-2">
                    <input
                      class="btn btn-success"
                      type="submit"
                      value="Add new resource"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-4"></div>
        <% }) %>
        <!-- Add new topic here -->
        <div
          class="d-flex flex-column bg-success border border-secondary p-4"
          style="--bs-bg-opacity: 0.15"
        >
          <h5 class="mb-3">Add new topic</h5>
          <form
            method="post"
            action="/course/<%= slug %>/file"
            enctype="multipart/form-data"
          >
            <div class="row mb-3">
              <label for="topic" class="col-sm-2 col-form-label">Topic</label>
              <div class="col-sm-10">
                <input
                  class="form-control"
                  type="text"
                  id="topic"
                  name="topic"
                  required
                  placeholder="Topic"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input
                  class="form-control"
                  type="text"
                  id="title"
                  name="title"
                  placeholder="Title"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="description" class="col-sm-2 col-form-label"
                >Description</label
              >
              <div class="col-sm-10">
                <input
                  class="form-control"
                  type="text"
                  id="description"
                  name="description"
                  placeholder="Description"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="topicFile" class="col-sm-2 col-form-label"
                >File</label
              >
              <div class="col-sm-10">
                <input
                  class="form-control"
                  type="file"
                  id="topicFile"
                  name="topicFile"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 offset-sm-2">
                <input
                  class="btn btn-success"
                  type="submit"
                  value="Add new topic"
                />
              </div>
            </div>
          </form>
        </div>
        <!-- Normal Mode -->
        <% } else { %> <% course_detail.topics.map((t, index) => { %>
        <button
          class="btn mt-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#topic<%= index %>"
          aria-expanded="false"
          aria-controls="topic<%= index %>"
        >
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-caret-down"></i>
            <h4 class="text-start ms-2"><%= t.t_title %></h4>
          </div>
          <div class="border-bottom"></div>
        </button>

        <div class="collapse" id="topic<%= index %>">
          <% t.files.map((f, fileIndex) => { %>
          <div class="border-0 border-bottom py-2 mx-4">
            <a
              class="text-decoration-none text-dark"
              href="/course/<%= course.slug %>/view/<%= index %>/<%= fileIndex %>"
              ><h5><%= f.f_title %></h5>
              <p
                class="d-inline-block text-truncate mb-0"
                style="max-width: 500px"
              >
                <%= f.f_description %>
              </p></a
            >
          </div>

          <% }) %>
        </div>

        <% })} %>
      </div>
      <%- include('../partials/footer') %>
    </div>
    <script>
      function getQueryParameter(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }
      function handleEditModeChange(checkbox) {
        if (checkbox.checked) {
          let currentUrl = new URL(window.location.href);
          currentUrl.searchParams.set("edit", "true");
          window.history.replaceState({}, "", currentUrl);
        } else {
          let currentUrl = new URL(window.location.href);
          currentUrl.searchParams.delete("edit");
          window.history.replaceState({}, "", currentUrl);
        }
        location.reload();
      }
      window.addEventListener("DOMContentLoaded", function () {
        let checkbox = document.getElementById("editMode");
        let editMode = getQueryParameter("edit");
        if (editMode === "true") {
          checkbox.checked = true;
        } else {
          checkbox.checked = false;
        }
      });
    </script>
  </body>
</html>
