<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Course Categories</title>
    <%- include('../partials/main') %>
  </head>
  <% if(typeof user === 'undefined') user = {} %> <% if(typeof course ===
  'undefined') course = {} %>
  <body>
    <div class="app container bg-white border-top border-4 border-success">
      <%- include('../partials/header') %>

      <div class="d-flex mx-4 mt-3 mb-5 flex-column">
        <% if(user.role !== "student" ) { %>
        <a href="/courses/<%= course.slug %>/create-topic">Create new Topic</a>

        <%} %>
        <h4><%= course.name[0] %></h4>
        <% course_detail.topics.map((t, index) => { %>
        <button
          class="btn mt-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#topic<%= index %>"
          aria-expanded="false"
          aria-controls="topic<%= index %>"
        >
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-caret-down"></i>
            <h4 class="text-start ms-2"><%= t.t_title %></h4>
          </div>
          <div class="border-bottom"></div>
        </button>

        <div class="collapse" id="topic<%= index %>">
          <% t.files.map((f, fileIndex) => { %>
          <div class="border-0 border-bottom py-2 mx-4">
            <a
              class="text-decoration-none text-dark"
              href="/courses/view/<%= course.slug %>/<%= index %>/<%= fileIndex %>"
              ><h5><%= f.f_title %></h5>
              <p
                class="d-inline-block text-truncate mb-0"
                style="max-width: 500px"
              >
                <%= f.f_description %>
              </p></a
            >
          </div>

          <% }) %>
        </div>

        <% }) %>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
