<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Courses</title>
    <%- include('../partials/main') %>
  </head>
  <% if(typeof user === 'undefined') user = {} %> <% if(typeof courses ===
  'undefined') courses = {} %>
  <body>
    <div class="app container bg-white border-top border-4 border-success">
      <%- include('../partials/header') %> <% if(courses.length> 0) {%> <%
      courses.forEach(course => { %>
      <div class="row row-cols-1 row-cols-md-4 g-2 m-4">
        <div class="col text-center">
          <div class="card h-100">
            <a href="/course/<%= course.slug %>">
              <img
                src="<%= course.image %>"
                class="card-img-top w-100"
                style="height: 200px"
              />
            </a>
            <div class="card-body text-truncate">
              <a
                href="/course/<%= course.slug %>"
                class="card-title fw-semibold fs-5 text-decoration-none"
              >
                <%= course.c_id %>[<%= course.faculty %>] <%= course.name[1] %>
                - <%= course.name[0] %>
              </a>
              <p class="card-text">
                <%= course.semester[1] %> [<%= course.semester[0] %>]
              </p>
            </div>
          </div>
        </div>
        <% })%>
      </div>
      <%} else {%>
      <p class="text-center fw-medium fs-4 my-3">
        You haven't enrolled any course before!<br />
        <a href="/courses" class="fs-6">View course here</a>
      </p>
      <%} %> <%- include('../partials/footer') %>
    </div>
  </body>
</html>
