<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new courses</title>
    <%- include('../../partials/main') %>
</head>
<body>
    <% if (typeof err === 'undefined') err = {};%>
<body>
    <div class="app container bg-white border-top border-4 border-success">
        <%- include('../../partials/header') %>
        <div class="d-flex flex-column justify-content-center mx-5 p-4" style="background-color: #e9e9e9;">
            <h2 class="text-center">Create new courses</h2>
            <form method="post" action="/courses/create">
                <div class="form-group my-2 row">
                    <div class="col-md-6">
                        <label for="c_id" class="form-label fw-semibold">Course id</label>
                        <input type="text" class="form-control" name="c_id" placeholder="ex: WPR">
                        <div class="err-message text-danger fst-italic"><%= err.c_id %></div>
                    </div>
                    <div class="col-md-6">
                        <label for="faculty" class="form-label">Faculty</label>
                        <select id="faculty" class="form-select" name="faculty">
                            <option selected disabled>Choose faculty</option>
                            <option value="IT">IT</option>  
                            <option value="MME">MME</option>  
                        </select>
                        <div class="err-message text-danger fst-italic"><%= err.faculty %></div>
                    </div>
                </div>
                <div class="form-group my-2 row">
                    <div class="col-md-6">
                        <label for="name_en" class="form-label fw-semibold">Course Name in English</label>
                        <input type="text" class="form-control" name="name_en" placeholder="ex: Web Programming">
                        <div class="err-message text-danger fst-italic"><%= err.name_en %></div>
                    </div>
                    <div class="col-md-6">
                        <label for="name_vn" class="form-label fw-semibold">Course Name in Vietnamese</label>
                        <input type="text" class="form-control" name="name_vn" placeholder="ex: Lập trình web">
                        <div class="err-message text-danger fst-italic"><%= err.name_vn %></div>
                    </div>
                </div>
                <div class="form-group my-2 row">
                    <div class="col-md-6">
                        <label for="semester_en" class="form-label fw-semibold">Semester in English</label>
                        <input type="text" class="form-control" name="semester_en" placeholder="ex: Spring 2024">
                        <div class="err-message text-danger fst-italic"><%= err.semester_en %></div>
                    </div>
                    <div class="col-md-6">
                        <label for="semester_vn" class="form-label fw-semibold">Semester in Vietnamese</label>
                        <input type="text" class="form-control" name="semester_vn" placeholder="ex: Hoc ki 2 2023-2024">
                        <div class="err-message text-danger fst-italic"><%= err.semester_vn %></div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="description" class="form-label fw-semibold">Description</label>
                    <textarea class="form-control" rows="3" name="description" placeholder="Enter course's description"></textarea>
                    <div class="err-message text-danger fst-italic"></div>
                </div>
                <div class="form-group my-2 row">
                    <div class="col-md-6">
                        <label for="teacher" class="form-label fw-semibold">Teacher's name</label>
                        <select id="teacher" class="form-select" name="teacher">
                            <option selected disabled>Choose teacher</option>
                            <% teachers.map((teacher) => { %> 
                                <option value="<%= teacher.username %>"><%= teacher.username %></option>
                                <% }) %>  
                        </select>
                        <div class="err-message text-danger fst-italic"></div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="image" class="form-label fw-semibold">Image for this course</label>
                    <input type="text" class="form-control" name="image" placeholder="Enter course's image">
                    <div class="err-message text-danger fst-italic"></div>
                </div>
                <div class="d-flex flex-row justify-content-between mt-4">
                    <button class="btn btn-primary col-5 ms-5" type="submit" name="formType" value="create">Create</button>
                    <button class="btn btn-secondary col-5 me-5" type="submit" name="formType" value="cancel">Cancel</button>
                </div>
            </form>
        </div>
        <%- include('../../partials/footer') %>
    </div>

</body>
</html>