<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit course</title>
    <%- include('../../partials/main') %>
</head>
<body>
    <% if (typeof err === 'undefined') err = {};%>
    <% if (typeof course === 'undefined') course = {};%>
<body>
    <div class="app container bg-white border-top border-4 border-success">
        <%- include('../../partials/header') %>
        <div class="d-flex flex-column justify-content-center mx-5 p-4" style="background-color: #e9e9e9;">
            <h2 class="text-center">Edit course</h2>
            <form method="post" action="/courses/edit/<%= course._id %>">
                <div class="form-group my-2 row">
                    <div class="col-md-6">
                        <label for="c_id" class="form-label fw-semibold">Course id</label>
                        <input type="text" class="form-control" name="c_id" value="<%= course.c_id %>" disabled>
                        <div class="err-message text-danger fst-italic"><%= err.c_id %></div>
                    </div>
                    <div class="col-md-6">
                        <label for="faculty" class="form-label">Faculty</label>
                        <select id="faculty" class="form-select" name="faculty" value="<%= course.faculty %>">
                            <option selected disabled>Choose faculty</option>
                            <option value="IT" <% if (course.faculty === 'IT') { %>selected<% } %>>IT</option>
                            <option value="MME" <% if (course.faculty === 'MME') { %>selected<% } %>>MME</option>  
                        </select>
                        <div class="err-message text-danger fst-italic"><%= err.faculty %></div>
                    </div>
                </div>
                <div class="form-group my-2 row">
                    <div class="col-md-6">
                        <label for="name[]" class="form-label fw-semibold">Course Name in English</label>
                        <input type="text" class="form-control" name="name[]" value="<%= course.name[0]%>">
                        <div class="err-message text-danger fst-italic"><%= err.name %></div>
                    </div>
                    <div class="col-md-6">
                        <label for="name[]" class="form-label fw-semibold">Course Name in Vietnamese</label>
                        <input type="text" class="form-control" name="name[]" value="<%= course.name[1] %>">
                        <div class="err-message text-danger fst-italic"><%= err.name %></div>
                    </div>
                </div>
                <div class="form-group my-2 row">
                    <div class="col-md-6">
                        <label for="semester[]" class="form-label fw-semibold">Semester in English</label>
                        <input type="text" class="form-control" name="semester[]" value="<%= course.semester[0] %>">
                        <div class="err-message text-danger fst-italic"><%= err.semester %></div>
                    </div>
                    <div class="col-md-6">
                        <label for="semester[]" class="form-label fw-semibold">Semester in Vietnamese</label>
                        <input type="text" class="form-control" name="semester[]" value="<%= course.semester[1] %>">
                        <div class="err-message text-danger fst-italic"><%= err.semester %></div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="description" class="form-label fw-semibold">Description</label>
                    <textarea class="form-control" rows="3" name="description"><%= course.description %></textarea>
                    <div class="err-message text-danger fst-italic"></div>
                </div>
                <div class="form-group my-2">
                    <label for="code" class="form-label fw-semibold">Code to enroll course</label>
                    <input type="text" class="form-control" name="code" value="<%= course.code %>">
                    <div class="err-message text-danger fst-italic"><%= err.code %></div>
                </div>
                <div class="form-group my-2">
                    <label for="image" class="form-label fw-semibold">Image for this course</label>
                    <input type="text" class="form-control" name="image" value="<%= course.image %>">
                    <div class="err-message text-danger fst-italic"></div>
                </div>
                <div class="d-flex flex-row justify-content-between mt-4">
                    <button class="btn btn-primary col-5 ms-5" type="submit" name="formType" value="edit">Save</button>
                    <button class="btn btn-secondary col-5 me-5" type="submit" name="formType" value="cancel">Cancel</button>
                </div>

                <!-- Edit -->
                <!-- <div class="form-group my-2">
                    <label for="c_id" class="form-label fw-semibold">Course id</label>
                    <input type="text" class="form-control" name="c_id" value="<%= course.c_id %>">
                    <div class="err-message text-danger fst-italic"><%= err.message %></div>
                </div>
                <div class="form-group my-2">
                    <label for="name_en" class="form-label fw-semibold">Course Name in English</label>
                    <input type="text" class="form-control" name="name_en" value="<%= course.name_en %>">
                    <div class="err-message text-danger fst-italic"><%= err.message %></div>
                </div>
                <div class="form-group my-2">
                    <label for="name_en" class="form-label fw-semibold">Course Name in Vietnamese</label>
                    <input type="text" class="form-control" name="name_vn" value="<%= course.name_vn %>">
                    <div class="err-message text-danger fst-italic"><%= err.message %></div>
                </div>
                <div class="form-group my-2">
                    <label for="semester" class="form-label fw-semibold">Semester</label>
                    <input type="text" class="form-control" name="semester" value="<%= course.semester %>">
                    <div class="err-message text-danger fst-italic"><%= err.message %></div>
                </div>
                <div class="form-group my-2">
                    <label for="description" class="form-label fw-semibold">Description</label>
                    <input type="text" class="form-control" name="description" value="<%= course.description %>">
                    <div class="err-message text-danger fst-italic"></div>
                </div>
                <div class="form-group my-2">
                    <label for="code" class="form-label fw-semibold">Code to enroll course</label>
                    <input type="text" class="form-control" name="code" value="<%= course.code %>">
                    <div class="err-message text-danger fst-italic"><%= err.message %></div>
                </div>
                <div class="form-group my-2">
                    <label for="image" class="form-label fw-semibold">Image for this course</label>
                    <input type="text" class="form-control" name="image" value="<%= course.image %>">
                    <div class="err-message text-danger fst-italic"></div>
                </div>
                <div class="d-flex flex-row justify-content-between mt-4">
                    <button class="btn btn-primary col-5 ms-5" type="submit" name="formType" value="create">Edit course</button>
                    <button class="btn btn-secondary col-5 me-5" type="submit" name="formType" value="cancel">Cancel</button>
                </div> -->
            </form>
        </div>
        <%- include('../../partials/footer') %>
    </div>

</body>
</html>